@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

* {
    font-family: "Poppins";
    font-feature-settings: 'clig' off, 'liga' off;
    font-style: normal;
}

/* Header Styles */

nav {
    margin: 0 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav>ul {
    display: flex;
    gap: 25px;
    list-style: none;
    align-items: center;
}

nav li {
    width: 100%;
}

nav li a {
    text-decoration: none;
    color: #3A3A3A;
    font-size: 16px;
    font-weight: 600;
}

.nav-title {
    color: #3A3A3A;
    font-size: 24px;
    font-weight: 700;
}

/* Banner Styles */

.banner {
    display: flex;
    align-items: center;
    margin: 40px 120px;
}

.banner-title {
    color: #3A3A3A;
    font-size: 52px;
    font-weight: 700;
    line-height: 70px;
}

.banner-desc {
    color: #3A3A3A;
    font-size: 16px;
    font-weight: 600;
    padding: 20px 0;
}

.btn {
    border-radius: 41px;
    background: #E02C6D;
    display: inline-flex;
    padding: 10px 24px;
    gap: 8px;
    color: #FFF;
    font-size: 16px;
    font-weight: 700;
    border: none;
}

.main-camera {
    position: absolute;
    bottom: 28.5%;
    left: 62.5%;
}

/* Logo Styles */

.logo {
    text-align: center;
}

.logo hr {
    width: 67%;
    opacity: 30%;
}

.logo img {
    padding: 10px 30px;
}

/* Collection Styles */

.collection {
    margin: 80px 120px;
}

.collection h3 {
    text-align: center;
    color: #3A3A3A;
    font-size: 28px;
    font-weight: 600;
    line-height: 70px;
}

.collection-container {
    display: grid;
    grid-template-columns: repeat(3, 32%);
    padding: 20px 150px;
    gap: 30px 20px;
}

.card {
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
    padding: 5% 5%;
}

.card img {
    width: 100%;
}

.card-title {
    color: #18191F;
    font-size: 28px;
    font-weight: 500;
    line-height: 40px;
}

.card-subtitle {
    color: rgba(0, 0, 0, 0.87);
    font-family: Inter;
    font-size: 24px;
    font-weight: 400;
    line-height: 150%;
    padding: 5px 0;
}

.card-rating {
    color: #5E6366;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0.1px;
    padding-bottom: 5px;
}

.card-desc {
    color: #787885;
    font-family: Inter;
    font-size: 14px;
    font-weight: 700;
    line-height: 143%;
    letter-spacing: 0.252px;
}

.collection .btn {
    margin: 20px 0 0 76%;
}

/* Feature Styles */

.feature {
    margin: 100px 165px;
    display: flex;
    gap: 96px;
}

.feature-content {
    padding: 0 0 30px 0;
}

.feature-title {
    color: #0A0826;
    font-size: 38px;
    font-weight: 700;
    margin-bottom: 0;
}

.feature-desc {
    color: #6C6C6C;
    font-size: 16px;
    font-weight: 700;
    line-height: 28px;
    padding: 15px 160px 15px 0;
}

/* Footer Styles */

.footer-content {
    text-align: center;
    background: #0A0826;
    padding: 50px 0;
}

.footer-title {
    color: #FFF;
    font-size: 32px;
    font-weight: 700;
}

.footer-desc {
    color: #D9DBE1;
    font-family: Manrope;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
}

.footer-img{
    width: 100%;
}

.footer-img img{
    width: 5%;
    padding: 15px;
}


/* Mobile Devices */

@media screen and (max-width:576px) {
    nav {
        flex-direction: column;
    }

    nav li {
        width: 100%;
    }

    .banner {
        flex-direction: column-reverse;
    }

    .main-camera {
        left: 7%;
        bottom: 18%;
    }

    .banner {
        margin: 40px 40px;
        text-align: center;
    }

    .banner-title {
        padding-top: 40px;
        font-size: 40px;
        line-height: 50px;
    }

    .banner-desc {
        font-size: 20px;
    }

    .logo img {
        padding: 15px;
    }

    .logo hr {
        width: 92%;
    }

    .collection {
        margin: 100px 20px 50px 20px;
        text-align: center;
    }

    .collection-container {
        grid-template-columns: repeat(1, 1fr);
        padding: 10px;
        gap: 20px;
    }

    .collection .btn {
        margin: 20px;
    }

    .feature {
        flex-direction: column-reverse;
        margin: 0 25px 50px 25px;
        text-align: center;
        gap: 40px;
    }

    .feature-title {
        font-size: 32px;
    }

    .feature-desc {
        padding: 15px;
    }

    .footer-title{
        font-size: 22px;
    }
    .footer-desc{
        font-size: 17px;
    }
    .footer-img img{
        padding: 10px;
    }
}